@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
	--prim-background-color: #050d16;
	--prim-color: #fff;
	--prim-font-size: 12px;
	--color-orenge: #ff3d00;
	--color-purple: #820cf9;
	--color-dark-green: #061e1a;
	--color-grey: #3a3a3a;
	--color-squish: #608d7d;
	--color-linear-gradient-insta: linear-gradient(
		90deg,
		rgba(242, 110, 110, 1) 23%,
		rgba(251, 184, 90, 1) 98%
	);
	--font-poppin-header: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	margin: 0;
}

html {
	overflow-x: hidden;
	scroll-snap-type: mandatory;
}

body {
	overflow-x: hidden;
	background-color: var(--prim-background-color);
	color: var(--prim-color);
	background-attachment: fixed;
	font-size: var(--prim-font-size);
	font-family: var(--font-poppin-header);
	width: 100%;
	height: auto;
	user-select: none;
}

a {
	color: var(--prim-color);
}

header {
	min-height: 100vh;
	scroll-snap-align: start;
}

/* --Navigation-- */

nav {
	margin: 2em 4em;
	line-height: 2em;
}

nav > ul {
	display: flex;
	gap: 2em;
	align-items: center;
}

nav > ul li:nth-of-type(1) {
	user-select: none;
}

nav > ul li:nth-of-type(2) {
	z-index: 2;
	margin-left: auto;
}

nav > ul li:has(a):hover {
	transition: 0.2s;
	transform: scale(1.1);
}

/* --backdrop-- */

#backdrop {
	color: rgba(255, 255, 255, 0);
	-webkit-text-stroke: 1px #816b9865;
	position: fixed;
	z-index: 1;
}

#backdrop > span {
	color: rgba(255, 255, 255, 0);
	-webkit-text-stroke: 1px #816b9865;
}

.backdrop1 {
	font-size: 13rem;
	margin-left: 8vw;
	margin-top: 5vh;
}

.backdrop2 {
	transform: translate(165vmin, 55vmin);
	opacity: 0.5;
}

#O-animate {
	position: fixed;
	transform: translate(-11.5vmin, 0vmin);
}

/* --Hero-- */

.hero {
	width: 100%;
	height: 40vh;
	margin-top: 45vh;
	padding: 0 4em 0 7em;
}

.hero:after,
.row:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	width: 100%;
	height: 100%;
}

.column {
	float: left;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 50%;
	justify-content: center;
}

.hero > .column {
	font-size: 2.6rem;
	letter-spacing: 2px;
	line-height: 6rem;
}

.hero > .column h1 {
	font-weight: 600;
}

.hero > .column:nth-of-type(2) {
	font-size: 1.5rem;
	padding: 0 4%;
	letter-spacing: normal;
	line-height: normal;
}

.quote {
	font-size: 5rem;
}

.button {
	font-size: 1.4rem;
	font-weight: 100;
	padding: 1rem 2rem;
	width: fit-content;
	border-radius: 200px;
	line-height: normal;
	margin-top: 1rem;
	background-color: var(--color-orenge);
	transition: 0.25s ease-out;
}

.button:hover {
	background-color: #be2c00;
}

/* --Section 01-- */

#sec1 {
	width: 100%;
	height: 100vh;
	color: #000;
	background-color: var(--prim-color);
	scroll-snap-align: start;
}

#sec1 .column {
	padding: 0 10rem;
}

#sec1 .column:nth-of-type(1) {
	width: 40%;
}

#sec1 .column:nth-of-type(2) {
	width: 60%;
	padding: 5rem;
}

#sec1 .column > h1 {
	font-size: 3rem;
	color: #000000a6;
}
#sec1 .column > h1 span {
	color: var(--color-squish);
}

.ttcw {
	font-size: 5rem;
	font-weight: bolder;
	display: flex;
	flex-direction: column;
	padding: 5rem 0;
}

.ttcw > span {
	line-height: 6rem;
}
.aboutPara1 {
	font-size: 2rem;
	font-weight: 600;
	opacity: 0.8;
}
.aboutPara2 {
	font-size: 1.2rem;
	opacity: 0.6;
}
.aboutPara2:nth-of-type(1) {
	margin-top: 2%;
}

/* --Vertical icon palette-- */
.verPalette {
	z-index: 0;
	display: block;
	position: absolute;
	transform: translate(90vw, 20vh);
	/* background-color: #000; */
	height: 80%;
	width: 10%;
}
.verPalette > ul {
	width: 100%;
	height: 95%;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-size: 1.2rem;
	align-items: center;
}
.verPalette > ul li:nth-of-type(1) {
	margin-top: auto;
}

.verPalette a {
	color: var(--prim-background-color);
}

.verPalette li:hover {
	transition: 0.25s;
	transform: scale(1.2);
}

/* --Section 02-- */

#sec2,
#sec3 {
	width: 100%;
	height: 100vh;
	color: var(--prim-color);
	scroll-snap-align: start;
}
#sec2 {
	background-color: var(--color-dark-green);
}
#sec2 .column:nth-of-type(2),
#sec3 .column:nth-of-type(1) {
	justify-content: center;
	align-items: flex-end;
	width: 52%;
}
#sec2 .column:nth-of-type(1),
#sec3 .column:nth-of-type(2) {
	width: 48%;
	padding: 10%;
}
#sec2 .column:nth-of-type(1) h1,
#sec3 .column:nth-of-type(2) h1 {
	font-size: 4vmin;
	margin: 1rem 0;
}
#sec2 .column:nth-of-type(1) .button,
#sec3 .column:nth-of-type(2) .button {
	margin-top: 8%;
	padding: 1rem 3rem;
	color: var(--prim-background-color);
	background-color: var(--prim-color);
	cursor: pointer;
}
#sec2 .column:nth-of-type(1) .button:hover,
#sec3 .column:nth-of-type(2) .button:hover {
	opacity: 0.6;
}
.projectContainer {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 70vh;
	z-index: 2;
}
#sec2 .projectContainer {
	background: var(--color-linear-gradient-insta);
}
#sec3 .projectContainer {
	background: linear-gradient(
		90deg,
		rgba(164, 197, 172, 1) 0%,
		rgba(110, 187, 172, 1) 100%
	);
}

.projectContainer img {
	width: 90%;
	height: auto;
}

.secTitle {
	font-size: 3vmin;
	font-weight: 600;
	position: absolute;
	padding: 2em;
	opacity: 0.8;
	color: #aaf6db;
}

/* --Footer-- */

footer {
	font-size: 1rem;
	display: flex;
	align-items: center;
	/* justify-content: center; */
	padding: 2% 2%;
	width: 100%;
	background-color: #191919;
	/* background-color: #061e1a; */
	/* background-image: linear-gradient(to right bottom, #051937, #001d33, #001e2b, #001f22, #061e1a); */
}

footer li {
	display: inline-block;
	margin: 0 0.5em;
}
footer li:first-of-type {
	margin-left: auto;
}
